h1{
    font-family: 'Courier New', Courier, monospace;
    
}
*{
    color: white;
}

ul {
    list-style-type: none;
    padding: 10px;
}

ul li {
    display: inline;
    margin: 20px;
}
footer p{
    display: inline;
   color: white;
   font-size: medium;
   
}
footer p:hover{
    color: #FF5733;
    font-size: medium;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: medium;
    
}

ul li a:hover {
    color: #FF5733;
    font-size: larger;
    position: relative;
    top: -4px;
     
}
.movie-images ul{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
    text-align: center;
    background-color: #00bfff ;

;
}
.movie-images p{
    color: white;
}

.movie-images img{
    box-shadow: 5px 5px 10px #fff;
    
}
.movie-images li{
    background-color: #000; 
}

nav{
   grid-area: nav;
   border: 5px solid black;
   width: auto;
}
main{ grid-area: main;
    width: auto;
    
}
header{
    grid-area: header;
    width: auto;
}
aside{
    grid-area: aside;
    width: auto;
}
section{
    grid-area: section;
    width: auto;
}
.movie-images ul li a:hover{
    position: relative;
    top: -4px;
    color: #FF5733;
}
footer{
    width: auto;
    background-color: black;
    text-align: center;
    border: 2px solid white;
    grid-area: footer;
   
}
.container{
    display: grid;
    background-image: url("/img/bioscoop.png");
    background-size: cover;
    
}
.content{
    margin: 5px;
    padding: 5px;
}
.Homepage{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "nav nav nav"
    "header header header"
    "main main main"
    "footer footer footer"
    ;
    grid-gap: 5px;
    
}
.aboutpage{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main aside"
    "footer footer footer";
    max-height: 200px;
    
}
.infopage{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto auto auto;
grid-template-areas: 
"nav nav nav"
"header header header"
"aside main main"
"aside main main"
"footer footer footer"
;
}


section a{
    color: white;
}
section a:hover{
    color: #FF5733;
}
.navigatie{
    display: inline;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "div div div";
    align-items: center;
}
.Joep{
    width: 30rem;
}
.Joep img{
    width: 100%;

}

